<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style2.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <div class="navbar-left">
      <a href="#">Home</a>

      <div class="dropdown">
        <a href="#">Products</a>
        <div class="dropdown-content">
          <a href="#">Product A</a>
          <a href="#">Product B</a>
        </div>
      </div>

      <div class="dropdown">
        <a href="#">Services</a>
        <div class="dropdown-content">
          <a href="#">Consulting</a>
          <a href="#">Development</a>
        </div>
      </div>

      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>

    <div class="navbar-right">
      <a href="#">Account</a>
      <a href="#">Cart (2)</a>
    </div>
  </div>

  <div class="header">
    <h1>Welcome to Our Website</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, dolorum? Omnis eos minima asperiores, nesciunt at totam laboriosam atque magnam impedit. Iste saepe odit quisquam fugit ea ullam officia qui doloribus, eaque voluptatum consequuntur ut rem cupiditate officiis modi nemo, praesentium quos atque. Inventore dicta impedit, exercitationem sint corporis, harum expedita itaque velit, praesentium ipsum at ratione reprehenderit. Nostrum, inventore.</p>
  </div>

</body>
</html>
